$header-color: linear-gradient(45deg, #8B6DDF 3%, #B4FCEB 96.14%);
$header-color: #262525;
$background: #19181F;
$title: #fff;
$subtitle: #969CB2;
$whatsapp-link: #34A853;
$maps-link: #fff;
$youtube-link: #FF0000;
$instagram-link: #C13584;
$facebook-link: #3B5998;
$website-link: #665DF5;
$website-link: #D3143C;
$discord-link: #5865F2;
$linkedin-link: #0077B5;
$custom-link: #82a239;
$telegram-link: #AE00F9;